/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  height: auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #000E28;
  background-image: url('assets/image/machine-learning.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}